# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET=""

DATABASE_URL=""

AWS_ACCESS_KEY_ID = "" 
AWS_SECRET_ACCESS_KEY = ""

AWS_REGION = ""
S3_BUCKET_NAME = ""

PROCESS_VIDEO_ENDPOINT = ""
PROCESS_VIDEO_ENDPOINT_AUTH = ""

STRIPE_SECRET_KEY=""
STRIPE_SMALL_CREDIT_PACK=""
STRIPE_MEDIUM_CREDIT_PACK=""
STRIPE_LARGE_CREDIT_PACK=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""

BASE_URL = ""
STRIPE_WEBHOOK_SECRET=""